.footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0px 60px 0px;
  width: 100%;
}

.footer__text {
  margin: 0px 0px 0px 0px;
}

@media screen and (max-width: 850px) {
  .footer {
    width: 282px;
    margin: 48px 0px 36px 0px;
  }
}
