.imgview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.imgview_opened {
  visibility: visible;
  opacity: 1;
}

.imgview__container {
  position: relative;
  max-width: 75vh;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgview__image {
  max-width: 75vh;
  max-height: calc(75vh - 80px);
  object-fit: contain;
}

.imgview__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.imgview__close-button:hover {
  opacity: 0.6;
}
.imgview__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  align-self: flex-start;
}
