.name__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
}

.name__edit-button {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 24px;
  margin: 0px 0px 0px 8px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.name__edit-img {
  padding: 0px 0px 0px 0px;
  width: 10px;
  height: 10px;
}

.name__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .name__title {
    width: 210px;
  }
}

@media screen and (max-width: 850px) {
  .name__edit-img {
    padding: 0px 0px 0px 0px;
    width: 8px;
    height: 8px;
  }

  .name__edit-button {
    width: 18px;
    height: 18px;
    padding: 0px 0px 0px 0px;
  }

  .name__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 14px;
    padding-right: 0px;
  }
}
