.page {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000000;
}
.page__content {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  width: 68.75vw;
  max-width: 880px;
}

@media screen and (max-width: 850px) {
  .page__content {
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
}
