.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 51px 0px;
  width: 100%;
}

.profile__info {
  margin: 0px 0px 0px 30px;
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0px 0px 0px 0px;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.profile__name {
  margin: 0px 0px 7px 0px;
  display: flex;
  align-items: center;
}

.profile__add-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 150px;
  padding: 0px 0px 0px 0px;
  height: 50px;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.profile__add-img {
  padding: 0px 0px 0px 0px;
  width: 22px;
  height: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 850px) {
  .profile {
    flex-direction: column;
    padding-top: 2px;
  }
  .profile__info {
    margin: 0px 0px 0px 0px;
    flex-direction: column;
    padding-right: 38px;
    padding-left: 38px;
  }
  .profile__image {
    margin-top: 42px;
    margin-bottom: 30px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 0px;
    padding-right: 18px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 30px;
  }

  .profile__add-button {
    width: 280px;
  }
}
